<h1>Edit <%= @band.name %></h1>
<%= form_tag("/bands/#{@band.id}", :method => :put) do %>

<%= label_tag("Band Name:") %>
<%= text_field_tag(:band_name, @band.name) %>
<%= submit_tag("Save!") %>
<% end %>

<h3>Add New Artist</h3>
<%= form_tag("/bands/#{@band.id}", :method => :put) do %>

<%= label_tag("Artists:") %>
<%= text_field_tag(:artist_name) %>
<%= submit_tag("Add Member!") %>
<% end %>

<h3>Add Existing Artist</h3>
<%= form_tag("/bands/#{@band.id}", :method => :put) do %>
<%= label_tag("Artists:") %>
<%= collection_select(:artists, :artist_id, @possible_new_artists, :id, :name) %>
<%= submit_tag("Add Member!") %>
<% end %>

<h3>Remove Artist</h3>
<%= form_tag("/bands/#{@band.id}", :method => :put) do %>
<%= label_tag("Members:") %>
<%= collection_select(:deleted, :artist_id, @band.artists, :id, :name) %>
<%= submit_tag("Abandon Member!") %>
<% end %>

<h3>Band Members</h3>
  <ul>
  <% @band.artists.each do |artist_id| %>
    <li>
      <%= Artist.find(artist_id).name %>
    </li>
  <% end %>
  </ul>
<%= link_to "Band Page", band_path(@band) %>