<h1>Edit <%= @band.name %></h1>
<%= form_for @band do |f| %>

<%= f.label :name, "Band Name:" %>
<%= f.text_field :name %>
<%= f.submit "Save!" %>
<% end %>

<h3>Add New Artist</h3>
<%= form_for @artist, :url => { :action => "create", :controller => "artists"} do |f| %>

<%= f.label :name, "Artists:" %>
<%= f.hidden_field :band, :value => @band.id %>
<%= f.text_field :name %>
<%= f.submit "Add Member!" %>
<% end %>

<h3>Add Existing Artist</h3>
<%= form_tag("/bands/#{@band.id}", :method => :put) do %>
<%= label_tag("Artists:") %>
<%= collection_select(:artists, :artist_id, @possible_new_artists, :id, :name) %>
<%= submit_tag("Add Member!") %>
<% end %>

<h3>Remove Artist</h3>
<%= form_tag("/bands/#{@band.id}", :method => :put) do %>
<%= label_tag("Members:") %>
<%= collection_select(:deleted, :artist_id, @band.artists, :id, :name) %>
<%= submit_tag("Abandon Member!") %>
<% end %>

<h3>Band Members</h3>
  <ul>
  <% @band.artists.each do |artist_id| %>
    <li>
      <%= Artist.find(artist_id).name %>
    </li>
  <% end %>
  </ul>
<%= link_to "Band Page", band_path(@band) %>